# dependencies
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.*
!.env.example

# build output
/dist
/build

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
/coverage
/.nyc_output

# runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# tmp directories
/tmp
/temp
